/* CSS for the notification page */

.noti {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.notification {
  padding: 1px;
  width: 100%;
  position: relative;
  padding: 45px 30px;
  margin-left: 2px 2px 2px 2px;
  min-height: 75vh;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.notbtn {
  background-color: rgb(42, 82, 89) !important;

  width: 200px !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  border-radius: 20px !important;

  text-transform: capitalize !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.notbtn:hover {
  background-color: rgb(61, 61, 132);
}
