.things {
  margin-bottom: 90px;
}

@media (min-width: 600px) {
  .things {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
}
