.bottom__nav {
  background: rgb(0, 33, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 30px 30px 0 0;
}

.bottom_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.bottom_ul li {
  padding: 0px 18px;
  font-size: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.bottom_ul li a {
  text-decoration: none;
  color: #fff;
}

.li__tag {
  position: relative;
}

a.active::after {
  content: '';
  height: 1px;
  width: 100%;
  background: rgb(0, 183, 255);
  position: absolute;
  left: 0;
  bottom: -19px;
  transition: all 0.2s;
  pointer-events: none;
}
/* ************************App Bar******************************** */

.app-bar {
  background: rgb(35, 71, 108);
  height: 62px;
  margin-bottom: 6px;
}

.nav-up {
  background-color: rgb(0, 33, 65) !important;
  border-radius: 12px;
  height: 60px;
}
