*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: bisque; */
}

.urls{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  font-size: 20px !important;
  color: black !important;
  font-weight:600 ;
}

.urls a{
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  
}



